/* */
.calculator { 
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden; /* tudo que tiver pra ler será escondido*/
    display: grid;
    grid-template-columns: repeat(4, 25%); /* 4 colunas com cada uma ocupando 25%*/
    grid-template-rows: 1fr 48px 48px 48px 48px 48px; /* 48 px para cada uma das 5 linha. 1fr siginica que ocupará fragmento restante da tela*/
}